*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.p{
    width: 100%;
    height: 90vh;
}
.p.a,.p.h,.p.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p .logo {
    width: 360px;
}
.p .logo svg{
    stroke: #000;
}
.p .slogan{
    font-size: 24px;
    padding: 20px 0;
}
.p .btns{
    padding: 50px 0;
}
.p .btns .btn{
    color: #333;
    background-color: #fff;
    float: left;
    margin: 10px;
    border-radius: 5px;
    box-shadow: #aaa 0 1px 5px;
    font-size: 20px;
}
.p .btns .btn a{
    padding: 10px 20px;
    display: block;
}
.p .btns .btn:hover{
    background-color: #eee;
}
.p .btns .btn.ok{
    color: #fff;
    background-color: #09f;
}
.p .btns .btn.ok a{
    padding: 10px 40px;
}
.p .btns .btn.ok:hover{
    background-color: #0af;
}
.p .l{
    float: left;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p.r .l{
    float: right;
}
.p .l.a{
    width: 40%;
    padding: 20px;
}
.p .l.a .title{
    font-size: 40px;
    line-height: 100px;
}
.p .l.a .desc{
    text-indent: 2em;
}
.p .l.a .desc .small{
    font-size: 12px;
    color: #666;
}
.p .l.b{
    width: 60%;
    position: relative;
}
.p.b .l.b img,
.p.e .l.b img,
.p.c .l.b img.a
{
    width: 80%;
    margin: 10%;
    box-shadow: #aaa 0 1px 20px;
}
.p.c .l.b img.a{
    margin-left: 0;
}
.p.c .l.b img.b,
.p.c .l.b img.c{
    position: absolute;
    border-radius: 10px;
    left: 55%;
    width: 50%;
    max-width: 400px;
    box-shadow: #aaa 0 1px 20px;
}
.p.c .l.b img.b{
    top: 5%;
}
.p.c .l.b img.c{
    top: 55%;
}

.p.d .l.b img{
    border-radius: 10px;
    margin: 5px;
    box-shadow: #aaa 0 1px 20px;
    width: 80%;
}

.p.f .l.b img{
    position: absolute;
    box-shadow: #aaa 0 1px 20px;
    border-radius: 10px;
    transition: transform .3s;
}
.p.f .l.b img:hover{
    z-index:3;
    transform: scale(1.05);
}
.p.f .l.b img.a{
    left: 10%;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    z-index:2;
}
.p.f .l.b img.a:hover{
    transform: translateY(-50%) scale(1.05);
}
.p.f .l.b img.b{
    left: 5px;
    bottom:5px;
    width: 40%;
}
.p.f .l.b img.c{
    right: 5px;
    bottom:5px;
    width: 40%;
}
.p.f .l.b img.d{
    left: 5px;
    top:5px;
    width: 80%;
}
.p.g .l.b img{
    box-shadow: #aaa 0 1px 20px;
    border-radius: 10px;
}
.p.g .l.b img.a{
    width: 40%;
    top: 50%;
    position: absolute;
    left: 30%;
}
.p.g .l.b img.b{
    width: 80%;
}
.p.h{
    background-color: #f1f1fe;
    height: 400px;
    margin-top: 60px;
}
.p.h h1{
    font-size: 36px;
}
.p.h p{
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
    color: #666;
    letter-spacing: 3px;
}
.p.footer{
    height: 400px;
}
.p.footer h1{
    line-height: 60px;
    padding-bottom: 30px;
}
.p.footer p{
    line-height: 30px;
}
.p.footer a{
    color: #09f;
}

@media(max-width:937px){
    .p .l{
        width: 100%!important;
    }
    .p .l.a{
        height: auto!important;
    }
    .p .l.b{
        height: 70%;
    }
}